
.container-crearot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-top: 30px;
}


.container-crearot h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #222;
}

.container-crearot h4 {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}


.form-box {
  background: rgba(255, 255, 255, 0.95);
  width: 380px;
  padding: 25px;
  border-radius: 20px;

  box-shadow: 0px 8px 20px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.form-box input,
.form-box textarea,
.form-box select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;

  border: 1px solid #c2c2c2; 
  background: #ffffff;

  font-size: 14px;
  outline: none;
}

textarea {
  height: 80px;
}

.form-box label {
  font-weight: bold;
  text-align: left;
}


.btn-rojo {
  background-color: #c62828;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-rojo:hover {
  background-color: #b71c1c;
}

.btn-cancelar {
  background-color: #444;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.btn-cancelar:hover {
  background-color: #333;
}
.error {
  color: #c62828;
  font-size: 13px;
  margin-top: -10px;
  margin-bottom: 5px;
  text-align: left;
}
